html{
    background-color: #00ff00;
}

body{
    height: 100vh;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    filter: contrast(1000%);
    z-index: -1;
}

caption{
    position: relative;
}

.title{
    font-size: 12em;
    position: absolute;
    z-index: 1;
    color: blue;
    -webkit-text-stroke: 2px orange;
}

#audio{
    display: none;
}

#audio2{
    display: none;
}